---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$base-font-size:   1em;
$small-font-size:  $base-font-size * 0.9;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$brand-color:      #7B61FF; //royal-purple
$background-color: #ffffff; // White background for the page
$clemson-purple:      #522d80;
$clemson-orange:      #f66733;
$scpo-red:   #C60202;
$scpo-darkred: #640000;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// Width of the content area
$content-width:    950px;

$on-palm:          600px;
$on-laptop:        950px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "header",
        "mobile-header",
        "base",
        "layout",
        "syntax-highlighting",
        "fancy-image"
;

// Custom styles for the header section
.site-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2em;
}

.site-title .english-name {
  margin-right: 10px; /* Adjust the value to control space */
}

.site-title .chinese-name {
  margin-left: 10px; /* Adds space before 顾然 */
}
